@tailwind base;
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}


@tailwind components;
@tailwind utilities;

body { @apply bg-gray-200 antialiased leading-none font-sans;}
header {@apply bg-white border-b;}
header>div {@apply mx-auto flex flex-col items-center justify-between py-4 px-8 relative;}
@screen sm {
  header>div {
    @apply flex-row;
  }
}
header h3 a {@apply text-2xl font-bold uppercase text-blue-900 no-underline;}
header nav {@apply text-lg;}
@screen md {
  header {
    @apply flex;
  }
}
header nav a {@apply text-gray-800 py-3 px-6 no-underline;}
header nav a:hover {@apply text-blue-700;}

main {@apply max-w-screen-lg mx-auto;}

.btn {@apply bg-red-600 text-white text-sm px-4 py-2 border rounded-full font-bold no-underline whitespace-no-wrap;}
.icon {@apply text-2xl font-light;}

.form-search {@apply flex flex-col;}
.form-search .btn {@apply flex-shrink my-1 py-1;}
.form-search input[type="text"] {@apply flex-grow;}
.form-search input[type="text"]::placeholder {@apply text-gray-700;}
.form-search input[type="text"],
    .form-search input[type="date"] {@apply border-2 border-gray-400 bg-white h-10 mr-1 my-1 px-5 rounded-full text-xl;}
.form-search input[type="text"]:focus,
    .form-search input[type="date"]:focus
    {@apply outline-none;}
@screen md {
  .form-search {
    @apply flex-row;
  }
}

.card {@apply flex flex-col bg-white p-2 mt-6 bg-white rounded shadow-xl;}
.card .date-box {@apply flex-shrink-0 block h-full text-center tracking-wide;}
.card .date-bk {@apply bg-blue-600 rounded-lg pt-2 pb-3;}
.card .day {@apply text-white font-bold text-2xl mt-1 inline;}
.card .month {@apply text-white font-normal text-2xl mt-1 hidden;}
.card .time {@apply text-white font-bold text-2xl mt-1 inline;}
.card .type {@apply text-white font-light uppercase text-xs inline;}
.card .calendar {@apply text-blue-600 font-normal uppercase text-xs;}
.card .info {@apply flex-grow mt-3;}
.card .info-organizer {@apply uppercase tracking-wide text-sm text-indigo-600 font-bold;}
.card .info-title {@apply block mt-1 text-xl leading-tight font-semibold text-gray-900;}
.card .info-description p {@apply mt-2 text-gray-700 leading-normal;}
.card .image {@apply flex-shrink-0 mt-3 mx-auto;}
.card .image img {max-width: 200px; max-height: 150px;}
@screen md {
  .card { @apply flex-row p-6;}
  .card .date-box {@apply w-40;}
  .card .day {@apply block text-2xl;}
  .card .month {@apply block text-xl;}
  .card .time {@apply block text-2xl mt-2;}
  .card .calendar {@apply mt-2;}
  .card .info {@apply mx-6 mt-0;}
  .card .image {@apply mt-0;}
}

.warning-message {@apply mt-20 text-gray-600 text-center text-3xl;}

.form-event {@apply leading-loose max-w-xl m-4 mx-auto py-5 px-10 bg-white rounded shadow-xl;}
.form-event-title {@apply text-gray-800 text-2xl font-semibold;}
.form-event-info {@apply text-gray-800 text-sm italic;}
.form-event label {@apply block text-sm text-gray-700;}
.form-event input[type="text"]::placeholder {@apply text-gray-700;}
.form-event input[type="text"],
    .form-event input[type="date"]
    {@apply w-full px-5 py-1 text-gray-700 bg-gray-200 border border-gray-200 rounded;}
.form-event span[role="alert"] {@apply text-red-500 text-xs italic;}
.form-event textarea {@apply w-full px-5 py-1 text-gray-700 bg-gray-200 border border-gray-200 h-48 rounded appearance-none resize-none;}
.form-event select {@apply w-full px-5 py-2 text-gray-700 bg-gray-200 border border-gray-200 rounded;}
.form-event input[type="text"]:focus,
    .form-event input[type="date"]:focus,
    .form-event textarea:focus,
    .form-event select:focus
    {@apply outline-none bg-white border-gray-500;}
.form-event .alert-success {@apply bg-green-100 border-l-4 border-green-800 my-2 p-4;}

.loader { position: relative; }
.loader::after {
    position: absolute!important;
    left: 1em;
    top: -1em;
    content: "";
    display: block;
    height: 2em;
    width: 2em;
    animation: loaderAnimation .8s infinite linear;
    border: 6px solid #cbd5e0;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
}

@keyframes loaderAnimation {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

.ui-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
    z-index: 1000;
    overflow: auto;
}

footer {@apply py-4 text-sm text-center;}
footer a {@apply font-semibold;}
footer ul {@apply flex flex-col justify-center list-none;}
@screen md {
  footer ul {@apply flex-row;}
  footer li {@apply mr-2;}
}
